/* CSS declarations go here */


/* MDL OVERRIDE */

.moment .mdl-card__supporting-text {
  padding: 8px;
}
.moment .mdl-card__actions {
  padding: 2px;
}





body {
  font-family: 'Roboto, Helvetica, Arial, sans-serif';
}

p {
  font-size: 16px;
}

.main-container {
  padding: 15px;
}


form.new-moment {
  border: 1px solid;
  padding: 10px;
  background-color: #eee;
}

.dev-bar {
  margin: 10px 0;
}



.moment {
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  /*border: 1px solid ;*/
  float: left;
  position: relative;
  min-width: 100px;
  min-height: 70px;
  max-width: 150px;
}

.text {
  clear: both;
  padding-top: 5px;
}


button.remove {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}



.creation-date {
  margin-top: 0;
  font-size: 80%;
}
