
// Account-UI OVERRIDE
#login-buttons
  float: right


header
  padding: 0 15px 15px

span.app
  color: #FEF454

.moments-container
  overflow: auto
  background-color: #fafafa
  padding: 30px
  position: relative
  min-height: 400px

  .sliding-moment-container
    top: 0
    bottom: 0
    left: 0
    width: 40%
    transform: translateX(0)
    position: absolute
    z-index: 10
    background-color: white
    transition: all .7s ease-out
    margin: 20px 0
    box-shadow: 0 0 2px 0 black
    &.not-visible
      transform: translateX(-100%)


.dev-bar
  padding: 15px 30px
  background-color: #4A148C
  button
    margin-right: 8px


.minion-image__container
  position: relative
  height: 0px

  .minion-image
    position: absolute
    left: 0
    bottom: 0
    height: 100px

@media screen and (max-width: 1024px)
  header
    margin-bottom: 75px
