<template name="momentNew">

    <form class="new-moment">
        <p>Nuovo Moment</p>
        <input required="text" name="text" placeholder="Insert a moment here">
        <button class="btn btn-default">Inserisci</button>
    </form>

    <div class="dev-bar">
        <button class="remove-all mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Rimuovi tutto</button>
        <button class="create-dummy mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Crea tests</button>
    </div>

</template>


<template name="moment">

    <div class="moment mdl-card mdl-shadow--2dp">
        <button class="remove">&times;</button>
        <p class="creation-date">{{ formatDate createdAt}}</p>
        <div class="mdl-card__supporting-text">
            <p class="text"> {{ text }}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          More Info
        </a>
        </div>
    </div>

</template>
