<template name="floatingActionButtons">

    <div class="fixed-fab-container">
        <button data-fab="0" data-toggle="modal" data-target="#myModal" class="fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
        <button data-fab="1" class="create-dummy fab fab--start-hidden mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">remove</i>
        </button>
        <!-- {{#if Template.subscriptionsReady}} -->
        <!-- {{#if momentsCount }} -->
        <button data-fab="2" class="remove-all fab fab--start-hidden mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">delete</i>
        </button>
        <!-- {{/if}} -->
        <!-- {{/if}} -->

    </div>

</template>
